<h3 class="purple-text text-lighten-5">Sign Profile List</h3>
<h4 class="purple-text text-lighten-3">Logged in user:  <%= current_user.first_name %></h4>

<p class="purple-text text-lighten-5">Recently Viewed: <%= @sign ? @sign.name : "Haven't viewed any signs." %></p>

<ul>
  <% @signs.each do |sign| %>
    <li><a href="/signs/<%= sign.id %>"><%= sign.name %></a></li>
  <% end %>
</ul>

<img src="/images/undraw_receipt_ecdd.svg" style="margin: 0; padding: 0;">

