<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>GettingToKnowMe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body> 
    <nav class="#ce93d8 purple lighten-3">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Getting To Know Me</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <% if !is_logged_in %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          <% else %>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/signs">My Signs List</a></li>
        <li><a href="/signs/new">Create Sign Profile</a></li>
       <% end %>
      </ul>
    </div>
  </nav>
    
          <div class="container">
                 <%= yield %>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <footer class="branding">
        <small>&copy; 2021 <strong>GettingToKnowMe</strong></small>
      </footer>
    </div>

    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
