<h1 class="purple-text text-lighten-3">Get To Know Me</h1>
<h4 class="blue-text text-darken-3">Get to know yourself, get to know the people around you!</h4>
<p class="purple-text text-lighten-5">Now you can keep track of all your friends and families birthday's and signs!
   What a wonderful way to get to know more about your loved ones, 
   and never forget a birthday again!</p>

   <img src="/images/undraw_My_universe_re_txot.svg" style="margin: 0; padding: 0;">
  
